﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="fileApp">
<head>
    <meta charset="utf-8" />
    <title>Angular JS</title>
    <script src="Scripts/angular.js"></script>
    <script src="ControllerJS/controllers.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
</head>
<body ng-controller="FileListCtrl">
    <div>
        <table class="table table-bordered">
            <thead>
            <th>Less 10Mb</th>
            <th>10Mb-50Mb</th>
            <th>More 100mb</th>
            </thead>
            <tr>
                <td>{{less}}</td>
                <td>{{moreless}}</td>
                <td>{{more}}</td>
            </tr>
        </table>
    </div>
    <div>
        <p><b>Current Folder:</b> {{CurrentDirectory}}</p>
    </div>
    <div>
        <p><h3>Folders</h3></p>
        <ul>
            <li>
                <a ng-click="showDirectory('../')">..\</a>
            </li>
            <li ng-repeat="items in ItemFolders">
                <a ng-click="showDirectory(items)">{{items}}</a>
            </li>
        </ul>
    </div>
    <div>
        <p><h3>Files</h3></p>
        <ul>
            <li ng-repeat="itemsf in ItemFiles">
                {{itemsf}}
            </li>
        </ul>
    </div>
</body>
</html>
